<html>
  
<head>  
   <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
              <link href="{{ url_for('static', filename='leaflet.css') }}" rel='stylesheet' />
  
  
  
</head>


<body>
  
  <div style= "height:90%; width; 60%;" id="map"></div>
  
  
  <script>
    
    //Leaflet map creation fundamentals
    
var map = L.map('map').setView([54.805, -2.96], 5);
L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
    attribution: 'TOEX Coding Club'
}).addTo(map);
    
     var drawnItems = new L.FeatureGroup();
     map.addLayer(drawnItems);
     var drawControl = new L.Control.Draw({
         edit: {
             featureGroup: drawnItems
         }
     });
     map.addControl(drawControl);
    
    
         var modifiedDraw = L.drawLocal.extend({
         draw: {
             toolbar: {
                 buttons: {
                     polygon: 'Draw an awesome polygon'
                 }
             }
         }
     });
    
    var toolbar = L.Toolbar();
   toolbar.addToolbar(map);
    
    
    
  </script>
    
</body>


</html>
