<html>
  
<head>  
   <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
              <link href="{{ url_for('static', filename='leaflet.css') }}" rel='stylesheet' />
  
  
  
</head>


<body>
  
  <div style= "height:70%; width; 80%;" id="map"></div>
  
  
  <script>
    
    //Leaflet map creation fundamentals
    
var map = L.map('map').setView([54.805, -2.96], 6);
L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
    attribution: 'Jack Lambourne - jlambourne94@outlook.com &copy; <a href="https://www.openstreetmap.org/copyright">Google twatmaps</a> contributors'
}).addTo(map);
    
  </script>
    
</body>


</html>
